<h1>Craigslist Clone</h1>
<h3>Check out the categories below</h3>

<ul>
<% @categories.each do |category| %>
  <li><%= link_to category.title, category_path(category) %></li>
<% end %>
</ul>

<%= @client %>
