<h1>Category Name: <%= @category.title %></h1>

<ul>
<% @articles.each do |article| %>
  <li><%= link_to article.title, category_article_path(@category, article) %></li>
<% end %>
</ul>

<p><%= link_to "Make a new post!", new_category_article_path(@category) %></p>
